* text=auto eol=lf
*.dll binary
*.exe binary
*.ico binary
*.png binary
*.zip binary
*.ttc filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
